<style>
  h2{font-family:'Inter', sans-serif;}
  p{font-family:'literata', serif;}
  .main-container {
    max-width: 100%;
    padding: 0 5rem;
}
  .text_cont {
    width: 50%;
    padding: 60px 0;
    background-color: #BACACC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .img_to_left{
    border: 5rem solid #FFF;
    border-left:0
  }
  .main-flex {
    display: flex;
}
  .img_cont{width:50%}
  h2.flex-head {
    text-align: center;
    font-size: 38px;
    padding: 0 30px 0 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 6px !important;
    line-height: 50px;
    color:#3d3d3d;
}
  p.flex-text{
    text-align: center;
    color: #3d3d3d;
    padding: 0 50px;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 32px;
    font-weight: 500;
  }
  .divider {
    text-align: center;
    font-size: 25px;
    color: #3d3d3d;
    font-weight: 100;
    padding: 0;
    margin: 0;
}
  .text_first{flex-direction:row-reverse}
  @media(max-width:450px){
    .main-container {padding: 0 0rem;}
    .main-flex {flex-direction: column;}
    .img_cont{width:100%}
    .text_cont { width: 100%;padding: 20px 0;}
    .img_to_left{border: 1rem solid #FFF;border-left:0}
  }
  
</style>
<div class="main-container">
  <div class="column_flex">
    {% for block in section.blocks %}
    <div class="main-flex {% if block.settings.layout_flex == 'text_first' %}text_first{% endif %}">
      <div class="img_cont">
        <img src="{{ block.settings.flex_img | img_url:'master' }}" loading="lazy" alt="{{ block.id }}" width="100%" height="100%">
      </div>
      
      <div class="text_cont {% if block.settings.layout_flex == 'text_first' %}img_to_right{% else %}img_to_left{% endif %}" style="background-color:{{ block.settings.color_bg_text }}">
        <h2 class="flex-head">{{ block.settings.flex-head }}</h2>
        <div class="divider">|</div>
        <p class="flex-text">{{ block.settings.flex-text }}</p>
        <a href="{{ block.settings.flex_link }}" class="button button_primary flexi_button">{{ block.settings.flex_link_text }}</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% schema %}
{
  "name":"Image with text",
  "settings":[],
  "blocks":[
    {
      "type":"image",
      "name":"Flex BLock",
      "settings":[
        {
          "type":"image_picker",
          "id":"flex_img",
          "label":"Select Flex image"
        },
        {
          "type":"text",
          "id":"flex-head",
          "label":"Enter Flex Heading"
        },
        {
          "type":"text",
          "id":"flex-text",
          "label":"Enter Flex Body"
        },
        {
          "type":"url",
          "id":"flex_link",
          "label":"Select link for button"
        },
        {
          "type":"text",
          "id":"flex_link_text",
          "label":"Type Button text"
        },
        {
          "type": "color",
          "id": "color_bg_text",
          "label": "Text Background color",
          "default": "#ccbacc"
        },
        {
          "type":"select",
          "id":"layout_flex",
          "options":[
            {
              "value":"img_first",
              "label":"Image FIrst"
            },
            {
              "value":"text_first",
              "label":"Text First"
            }
          ],
          "default":"img_first",
          "label":"Select Layout"
        }
      ]
    }
  ],
  "presets":[
    {
      "category":"homepage",
      "name":"Image with text"
    }
  ]
}
{% endschema %}