<style>
  .ing-block {
    background-repeat: no-repeat;
    background-size:82%;
    width: 22.6%;
    min-height: 280px;
}
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 255px;
    color: #fff;
    margin-left: -30px;
}
  .text h3 {
    color: #fff;
    font-family: LL circular, sans-serif;
    font-size: 15px;
}
  .text p {
    text-align: center;
    font-family: 'Literata';
    font-weight: 600;
    font-size: 18px;
    width: 118px;
}
  div#blocker {
    font-size: 37px;
}
  .slick-arrow img {
    width: 43px;
    height: 43px;
}
  .next.slick-arrow {
    position: absolute;
    top: 33%;
    right: 21px;
}
  .prev.slick-arrow.slick-disabled {
    position: absolute;
    top: 31%;
    left: -4px;
    width: 50px;
    height: 50px;
    transform: rotate(180deg);
}
  @media(max-width:450px){
    
  }
</style>
<div class="Container ing">
  <div class="sect-1">
    <h2>{{ section.settings.ing_heading }}</h2>
    {% if section.settings.ing_body != blank %}<div class="desc-body">{{ section.settings.ing_body }}</div>{% endif %}
  </div>
  <div class="sect-2">
    <div class="sect-2-slider">
      {% for block in section.blocks %}
        <div class="ing-block" id="{{ block.id }}" style="background-image:url('{{ block.settings.ing_image | img_url:'400x' }}');">
          <div class="text">
            <h3>{{ block.settings.ind_text-1 }}</h3>
            <div id="blocker">|</div>
            <p>from<br>{{ block.settings.ind_text-2 }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="prev"><img src="https://cdn.shopify.com/s/files/1/0600/8356/8824/files/arrow-right.png?v=1697968890"></div>
      <div class="next"><img src="https://cdn.shopify.com/s/files/1/0600/8356/8824/files/arrow-right.png?v=1697968890"></div>
  </div>
</div>
<script>
  $(document).ready(function(){
  $('.sect-2-slider').slick({
    slidesToShow: 6,
    slidesToScroll: 3,
    infinite: false,
    arrows:true,
    prevArrow:('.prev'),
    nextArrow:('.next'),
    responsive:[
      {
      breakpoint: 1024,
      settings: {
        slidesToShow: 4,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 2
      }
    }
    ]
  });
  });
</script>
{% schema %}
  {
    "name": "All Ingredients",
    "settings": [
      {
        "type":"text",
        "id":"ing_heading",
        "label":"Heading",
        "default":"All Ingredients"
      },
      {
        "type":"html",
        "id":"ing_body",
        "label":"Description",
        "default":"<p>ENter your Description here</p>"
      }
    ],
    "blocks":[
      {
        "name":"Ingredient Block",
        "type":"testimonials",
        "settings":[
          {
            "type":"image_picker",
            "id":"ing_image",
            "label":"Select Ingredient Image"
          },
          {
            "type":"text",
            "id":"ind_text-1",
            "label":"Enter ingredients"
          },
          {
            "type":"text",
            "id":"ind_text-2",
            "label":"Enter ingredients"
          },
          {
            "type":"url",
            "id":"ing_sub_url",
            "label":"select ingredient Label"
          }
        ]
      }
    ],
    "presets":[
      {
        "name":"All Ingredients"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}