{{ 'section-multicolumn.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
{% assign productTags = product.tags | join:',' %}

<div class="multicolumn_new_section multicolumn background-{{ section.settings.background_style }}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div class="overlay-bg"></div>
  <div class="page-width">
    <div class="title-wrapper-with-link title-wrapper--self-padded-mobile{% if section.settings.title == blank %} title-wrapper-with-link--no-heading{% endif %}">
      <h2 class="title">
        {{ section.settings.title | escape }}
      </h2>
      {%- if section.settings.button_label != blank and section.settings.swipe_on_mobile -%}
      <a href="{{ section.settings.button_link }}" class="link underlined-link large-up-hide">{{ section.settings.button_label | escape }}</a>
      {%- endif -%}
    </div>
    {% if template == 'product' %}
    <slider-component class="slider-mobile-gutter">
      <ul class="multicolumn-list grid grid--1-col{% if section.blocks.size > 3 and section.settings.image_width != 'full' %} grid--2-col-tablet grid--3-col-desktop{% elsif section.blocks.size > 3 and section.settings.image_width == 'full' %} grid--2-col-tablet{% else %} grid--2-col-tablet{% endif %}{% if section.settings.swipe_on_mobile and section.blocks.size > 1 %} slider slider--mobile grid--peek{% endif %}"
          id="Slider-{{ section.id }}"
          role="list"
          >
        {%- liquid
          assign highest_ratio = 0
          for block in section.blocks
            if block.settings.image.aspect_ratio > highest_ratio
              assign highest_ratio = block.settings.image.aspect_ratio
            endif
          endfor
        -%}
        {% assign variable = 0 %}
        {% assign forloopIndex = 0 %}

        {% for i in (1..50) %}
        {% capture image %}image{{i}}{% endcapture %}
        {% capture title %}title{{i}}{% endcapture %}
        {% capture productTag %}prod_tag{{i}}{% endcapture %}
        {% capture description %}description{{ i }}{% endcapture %}
        {% capture popup_html %}popup_html{{ i }}{% endcapture %}
        {% capture box_url %}box_url{{i}}{% endcapture %}
        {% if variable < 6 %}
        {% if productTags contains settings[productTag] %}
        {% if settings[image] %}

        <li style="background-image:url({{ settings[image] | img_url: 'master' }}) !important;background-size: 94%;background-repeat: no-repeat;background-position: 10px 0px;margin-bottom:30px;" class="link disable-toggle multicolumn-list__item grid__item{% if section.settings.swipe_on_mobile %} slider__slide{% endif %}{% if section.settings.column_alignment == 'center' %} center{% endif %}">

          <div class="multicolumn-card link{{ i }} ">
            <div class="multicolumn-card__info">
              {%- if settings[title] != blank -%}
              <h3 style="font-size:1rem;color:#fff;">{{ settings[title] }}</h3>
              {%- endif -%}
              {%- if settings[description] != blank -%}
              <h2 style="font-size:4rem;color:#fff;font-family: 'Literata';padding: 0 30px;">|<br> from<br>{{ settings[description]}}</h2>
              {%- endif -%}
            </div>
          </div>

          <div class="popup-inner popup{{ i }}" tabindex="-1">
            <div class="close-btn close{{ i }}" >×</div>
            {{ settings[popup_html]}}
          </div>
          <script type="text/javascript">
            $(".link{{ i }}").click(function(e){
              e.preventDefault();
            $(".popup{{ i }}").fadeIn(300,function(){$(this).focus();});
              $(".overlay-bg").addClass("overlayclass"); 
            $("body").addClass("disable-toggle");
            });

            $('.close{{ i }}').click(function() {
              $(".popup{{ i }}").fadeOut(300);
              });
            $(".popup{{ i }}").on('blur',function(){
              $(this).fadeOut(300);
            $(".overlay-bg").removeClass("overlayclass"); 
            $("body").removeClass("disable-toggle");
            });
          </script>
          <style>
            .pop{{ i }} {display:none;}
            .link{
            }
            .popup{{ i }}{    
              position: fixed;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 50%;
              text-align: center;
              background-color: #e8eae6;
              box-sizing: border-box;
              padding: 10px;
              z-index: 100;
              display:none;
            }
          </style>
        </li>
        {% assign variable = variable | plus:1 %}
        {% assign forloopIndex = i %}
        {% endif %}
        {% endif %}
        {% endif %}
        {% endfor %}
      </ul>

      {%- if section.settings.swipe_on_mobile -%}
      <div class="slider-buttons no-js-hidden medium-hide{% if section.blocks.size < 2 %} small-hide{% endif %}">
        <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
        <div class="slider-counter caption">
          <span class="slider-counter--current">1</span>
          <span aria-hidden="true"> / </span>
          <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
          <span class="slider-counter--total">{{ section.blocks.size }}</span>
        </div>
        <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
      </div>
      {%- endif -%}
      <div class="center{% if section.settings.swipe_on_mobile %} small-hide medium-hide{% endif %}">
        {%- if section.settings.button_label != blank -%}
        <a class="button button--primary"{% if section.settings.button_link == blank %} aria-disabled="true" role="link"{% else %} href="{{ section.settings.button_link }}"{% endif %}>
          {{ section.settings.button_label | escape }}
        </a>
        {%- endif-%}
      </div>
    </slider-component>
    <div class="center view_more">
      <a class="pushme">View More</a>

    </div>
    <div class="hide show_onClick view_more_content">
      <slider-component class="slider-mobile-gutter">
        <p class="text_formate_center">{{ product.metafields.global.View_more.value }}</p>
        <ul class="multicolumn-list grid grid--1-col{% if section.blocks.size > 3 and section.settings.image_width != 'full' %} grid--2-col-tablet grid--3-col-desktop{% elsif section.blocks.size > 3 and section.settings.image_width == 'full' %} grid--2-col-tablet{% else %} grid--2-col-tablet{% endif %}{% if section.settings.swipe_on_mobile and section.blocks.size > 1 %} slider slider--mobile grid--peek{% endif %}"
            id="Slider-{{ section.id }}"
            role="list"
            >
          {%- liquid
          assign highest_ratio = 0
          for block in section.blocks
            if block.settings.image.aspect_ratio > highest_ratio
              assign highest_ratio = block.settings.image.aspect_ratio
            endif
          endfor
        -%}

          {% for i in (1..50) offset:forloopIndex %}
          {% capture image %}image{{i}}{% endcapture %}
          {% capture title %}title{{i}}{% endcapture %}
          {% capture productTag %}prod_tag{{i}}{% endcapture %}
          {% capture description %}description{{ i }}{% endcapture %}
          {% capture popup_html %}popup_html{{ i }}{% endcapture %}
          {% capture box_url %}box_url{{i}}{% endcapture %}

          {% if productTags contains settings[productTag] %}
          {% if settings[image] %}
          <li style="background-image:url({{ settings[image] | img_url: 'master' }}) !important;background-size: 94%;background-repeat: no-repeat;background-position: 10px 0px;margin-bottom:50px;" class="multicolumn-list__item grid__item{% if section.settings.swipe_on_mobile %} slider__slide{% endif %}{% if section.settings.column_alignment == 'center' %} center{% endif %}">

            <div class="multicolumn-card link{{ i }} ">
              <div class="multicolumn-card__info">
                {%- if settings[title] != blank -%}
                <h3 style="font-size:1rem;color:#fff;">{{ settings[title] }}</h3>
                {%- endif -%}
                {%- if settings[description] != blank -%}
                <h2 style="font-size:4rem;color:#fff;font-family: 'Literata';padding: 0 30px;">|<br> from<br>{{ settings[description]}}</h2>
                {%- endif -%}
              </div>
            </div>

            <div class="popup-inner popup{{ i }}" tabindex="-1">
              <div class="close-btn close{{ i }}" >×</div>
              {{ settings[popup_html]}}
            </div>
            <script type="text/javascript">
              $(".link{{ i }}").click(function(e){
                e.preventDefault();
              $(".popup{{ i }}").fadeIn(300,function(){$(this).focus();});
                $(".overlay-bg").addClass("overlayclass"); 
              $("body").addClass("disable-toggle");
              });

              $('.close{{ i }}').click(function() {
                $(".popup{{ i }}").fadeOut(300);
                });
              $(".popup{{ i }}").on('blur',function(){
                $(this).fadeOut(300);
              $(".overlay-bg").removeClass("overlayclass"); 
              $("body").removeClass("disable-toggle");
              });
            </script>
            <style>
              .pop{{ i }} {display:none;}

              .link{

              }

              .popup{{ i }}{    
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50%;
                text-align: center;
                background-color: #e8eae6;
                box-sizing: border-box;
                padding: 10px;
                z-index: 100;
                display:none;
              }
              p.text_formate_center {
                text-align: center;
                background-color: #fff;
                color: #09090a;
                cursor: pointer;
                padding: 23px;
                width: 100%;
                border-style: solid;
                border-width: 0px 0px 1px 0px;
                border-color: #070707;
                /* text-align: left; */
                outline: none;
                font-size: 18px;
                font-weight: 500 transition: 0.4s;
                margin: 0;
                text-align: center;
              }
            </style>
          </li>
          {% endif %}
          {% endif %}
          {% endfor %}
        </ul>

        {%- if section.settings.swipe_on_mobile -%}
        <div class="slider-buttons no-js-hidden medium-hide{% if section.blocks.size < 2 %} small-hide{% endif %}">
          <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
            <span class="slider-counter--total">{{ section.blocks.size }}</span>
          </div>
          <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
        </div>
        {%- endif -%}
        <div class="center{% if section.settings.swipe_on_mobile %} small-hide medium-hide{% endif %}">
          {%- if section.settings.button_label != blank -%}
          <a class="button button--primary"{% if section.settings.button_link == blank %} aria-disabled="true" role="link"{% else %} href="{{ section.settings.button_link }}"{% endif %}>
            {{ section.settings.button_label | escape }}
          </a>
          {%- endif-%}
        </div>
      </slider-component>
    </div>

    {% elsif template.name == 'page' %}
    <slider-component class="slider-mobile-gutter">
      <ul class="multicolumn-list slick_custome_wrapper grid grid--1-col{% if section.blocks.size > 3 and section.settings.image_width != 'full' %} grid--2-col-tablet grid--3-col-desktop{% elsif section.blocks.size > 3 and section.settings.image_width == 'full' %} grid--2-col-tablet{% else %} grid--2-col-tablet{% endif %}{% if section.settings.swipe_on_mobile and section.blocks.size > 1 %} slider slider--mobile grid--peek{% endif %}"
            id="Slider-{{ section.id }}"
            role="list"
            >
        {%- liquid
          assign highest_ratio = 0
          for block in section.blocks
            if block.settings.image.aspect_ratio > highest_ratio
              assign highest_ratio = block.settings.image.aspect_ratio
            endif
          endfor
        -%}
        {% assign j = 0 %}
        {% assign ivalue = 0 %}
        {% for i in (1..51) %}
        {% capture image %}image{{i}}{% endcapture %}
        {% capture title %}title{{i}}{% endcapture %}
        {% capture productTag %}prod_tag{{i}}{% endcapture %}
        {% capture description %}description{{ i }}{% endcapture %}
        {% capture popup_html %}popup_html{{ i }}{% endcapture %}
        {% capture box_url %}box_url{{i}}{% endcapture %}
        {% capture iLink %}box_url{{i}}{% endcapture %}
        {% if settings[image] %}
        <li style="background-image:url({{ settings[image] | img_url: 'master' }}) !important;background-size: 94%;background-repeat: no-repeat;background-position: 10px 0px;margin-bottom:50px;" class="multicolumn-list__item grid__item{% if section.settings.swipe_on_mobile %} slider__slide{% endif %}{% if section.settings.column_alignment == 'center' %} center{% endif %}">
          <a class="product-popup-link" href="{{settings[iLink]}}"> 
            <div class="multicolumn-card link{{ i }} ">
              <div class="multicolumn-card__info">
                {%- if settings[title] != blank -%}
                <h3 style="font-size:1rem;color:#fff;">{{ settings[title] }}</h3>
                {%- endif -%}
                {%- if settings[description] != blank -%}
                <h2 style="font-size:4rem;color:#fff;font-family: 'Literata';padding: 0 30px;">|<br> from<br>{{ settings[description]}}</h2>
                {%- endif -%}
              </div>
            </div>
          </a>
        </li>
        {% assign j = j | plus:1 %}
        {% if j == 13 %}
        {% assign ivalue = i %}
        {% break %}
        {% endif %}
        {% endif %}
        {% endfor %}
        {%- if section.settings.swipe_on_mobile -%}
        <div class="slider-buttons no-js-hidden medium-hide{% if section.blocks.size < 2 %} small-hide{% endif %}">
          <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
            <span class="slider-counter--total">{{ section.blocks.size }}</span>
          </div>
          <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
        </div>
        {%- endif -%}
        <div class="center{% if section.settings.swipe_on_mobile %} small-hide medium-hide{% endif %}">
          {%- if section.settings.button_label != blank -%}
          <a class="button button--primary"{% if section.settings.button_link == blank %} aria-disabled="true" role="link"{% else %} href="{{ section.settings.button_link }}"{% endif %}>
            {{ section.settings.button_label | escape }}
          </a>
          {%- endif-%}
        </div>
      </ul>
    </slider-component>
    <slider-component class="slider-mobile-gutter">
      <ul class="multicolumn-list grid slick_custome_wrapper grid--1-col{% if section.blocks.size > 3 and section.settings.image_width != 'full' %} grid--2-col-tablet grid--3-col-desktop{% elsif section.blocks.size > 3 and section.settings.image_width == 'full' %} grid--2-col-tablet{% else %} grid--3-col-tablet{% endif %}{% if section.settings.swipe_on_mobile and section.blocks.size > 1 %} slider slider--mobile grid--peek{% endif %}"
          id="Slider-{{ section.id }}"
          role="list"
          >
        {%- liquid
          assign highest_ratio = 0
          for block in section.blocks
            if block.settings.image.aspect_ratio > highest_ratio
              assign highest_ratio = block.settings.image.aspect_ratio
            endif
          endfor
        -%}
        {% assign j = 0 %}
        {% for i in (1..51)  offset:ivalue %}
        {% capture image %}image{{i}}{% endcapture %}
        {% capture title %}title{{i}}{% endcapture %}
        {% capture productTag %}prod_tag{{i}}{% endcapture %}
        {% capture description %}description{{ i }}{% endcapture %}
        {% capture popup_html %}popup_html{{ i }}{% endcapture %}
        {% capture box_url %}box_url{{i}}{% endcapture %}
        {% capture iLink %}box_url{{i}}{% endcapture %}
        {% if settings[image] %}
        
        
        <li style="background-image:url({{ settings[image] | img_url: 'master' }}) !important;background-size: 94%;background-repeat: no-repeat;background-position: 10px 0px;margin-bottom:50px;" class="multicolumn-list__item grid__item{% if section.settings.swipe_on_mobile %} slider__slide{% endif %}{% if section.settings.column_alignment == 'center' %} center{% endif %}">
          <a class="product-popup-link" href="{{settings[iLink]}}"> 
            <div class="multicolumn-card link{{ i }} ">
              <div class="multicolumn-card__info">
                {%- if settings[title] != blank -%}
                <h3 style="font-size:1rem;color:#fff;">{{ settings[title] }}</h3>
                {%- endif -%}
                {%- if settings[description] != blank -%}
                <h2 style="font-size:4rem;color:#fff;font-family: 'Literata';padding: 0 30px;">|<br> from<br>{{ settings[description]}}</h2>
                {%- endif -%}
              </div>
            </div>
          </a>
        </li>
        {% assign j = j | plus:1 %}
        {% if j == 12 %}
        {% assign ivalue = i %}
        {% break %}
        {% endif %}
        {% endif %}
        {% endfor %}
      </ul>
      {%- if section.settings.swipe_on_mobile -%}
      <div class="slider-buttons no-js-hidden medium-hide{% if section.blocks.size < 2 %} small-hide{% endif %}">
        <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
        <div class="slider-counter caption">
          <span class="slider-counter--current">1</span>
          <span aria-hidden="true"> / </span>
          <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
          <span class="slider-counter--total">{{ section.blocks.size }}</span>
        </div>
        <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
      </div>
      {%- endif -%}
      <div class="center{% if section.settings.swipe_on_mobile %} small-hide medium-hide{% endif %}">
        {%- if section.settings.button_label != blank -%}
        <a class="button button--primary"{% if section.settings.button_link == blank %} aria-disabled="true" role="link"{% else %} href="{{ section.settings.button_link }}"{% endif %}>
          {{ section.settings.button_label | escape }}
        </a>
        {%- endif-%}
      </div>
    </slider-component>
    <slider-component class="slider-mobile-gutter">
      <ul class="multicolumn-list grid slick_custome_wrapper grid--1-col{% if section.blocks.size > 3 and section.settings.image_width != 'full' %} grid--2-col-tablet grid--3-col-desktop{% elsif section.blocks.size > 3 and section.settings.image_width == 'full' %} grid--2-col-tablet{% else %} grid--2-col-tablet{% endif %}{% if section.settings.swipe_on_mobile and section.blocks.size > 1 %} slider slider--mobile grid--peek{% endif %}"
          id="Slider-{{ section.id }}"
          role="list"
          >
        {%- liquid
          assign highest_ratio = 0
          for block in section.blocks
            if block.settings.image.aspect_ratio > highest_ratio
              assign highest_ratio = block.settings.image.aspect_ratio
            endif
          endfor
        -%}
        {% for i in (1..55) offset:ivalue %}
        {% capture image %}image{{i}}{% endcapture %}
        {% capture title %}title{{i}}{% endcapture %}
        {% capture productTag %}prod_tag{{i}}{% endcapture %}
        {% capture description %}description{{ i }}{% endcapture %}
        {% capture popup_html %}popup_html{{ i }}{% endcapture %}
        {% capture box_url %}box_url{{i}}{% endcapture %}
        {% capture iLink %}box_url{{i}}{% endcapture %}
        {% if settings[image] %}
        <li style="background-image:url({{ settings[image] | img_url: 'master' }}) !important;background-size: 94%;background-repeat: no-repeat;background-position: 10px 0px;margin-bottom:50px;" class="multicolumn-list__item grid__item{% if section.settings.swipe_on_mobile %} slider__slide{% endif %}{% if section.settings.column_alignment == 'center' %} center{% endif %}">
          <a class="product-popup-link" href="{{settings[iLink]}}"> 
            <div class="multicolumn-card link{{ i }} ">
              <div class="multicolumn-card__info">
                {%- if settings[title] != blank -%}
                <h3 style="font-size:1rem;color:#fff;">{{ settings[title] }}</h3>
                {%- endif -%}
                {%- if settings[description] != blank -%}
                <h2 style="font-size:4rem;color:#fff;font-family: 'Literata';padding: 0 30px;">|<br> from<br>{{ settings[description]}}</h2>
                {%- endif -%}
              </div>
            </div>
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      {%- if section.settings.swipe_on_mobile -%}
      <div class="slider-buttons no-js-hidden medium-hide{% if section.blocks.size < 2 %} small-hide{% endif %}">
        <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
        <div class="slider-counter caption">
          <span class="slider-counter--current">1</span>
          <span aria-hidden="true"> / </span>
          <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
          <span class="slider-counter--total">{{ section.blocks.size }}</span>
        </div>
        <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
      </div>
      {%- endif -%}
      <div class="center{% if section.settings.swipe_on_mobile %} small-hide medium-hide{% endif %}">
        {%- if section.settings.button_label != blank -%}
        <a class="button button--primary"{% if section.settings.button_link == blank %} aria-disabled="true" role="link"{% else %} href="{{ section.settings.button_link }}"{% endif %}>
          {{ section.settings.button_label | escape }}
        </a>
        {%- endif-%}
      </div>
    </slider-component>
    {% endif %}
  </div>
</div>
<!-- div containing the popup -->
<script>
  $(document).ready(function(){
    $('.pushme').on('click',function(){
      $(this).parent('div').next('.show_onClick').slideToggle();
      $(this).toggleClass('lessdata');
    });
    var count_sec = $('.view_more_content .multicolumn-list li').length;
    if(count_sec >= 1){
      $('.view_more').show();
    }else{
      $('.view_more').hide();
    }
  });
  
</script>
<style type="text/css">
  .show_onClick{display:none}
  body.disable-toggle {overflow:hidden !important;}
  .close-btn {
    position: absolute;
    right: 10px;
    top: 5px;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 4px;
    width: 30px;
    height: 30px;
    line-height: 22px;
  }
  .multicolumn_with_image .multicolumn .slick_custome_wrapper li.multicolumn-list__item{
    margin-left:10px;
    margin-right:10px;
  }
  .multicolumn_with_image .multicolumn .slick_custome_wrapper{
   padding:0 30px;
  }
  .multicolumn_with_image .multicolumn .slick_custome_wrapper .slick-arrow{
    display:block;
    border: 1px solid #000;
  }
  .multicolumn_with_image .multicolumn .slick_custome_wrapper .slick-disabled.slick-arrow{
    display:none;
  }
  .multicolumn_with_image .multicolumn .slick_custome_wrapper .slick-disabled.slick-arrow {
    display: none !important;
  }
  .multicolumn_with_image .multicolumn .slick_custome_wrapper .slick-arrow.slick-prev{
    left:-25px;
  }
  .multicolumn_with_image .multicolumn .slick_custome_wrapper .slick-arrow.slick-next{
    right:-25px;
  }
  .multicolumn_with_image .multicolumn .slick_custome_wrapper .slick-arrow.slick-next:before{
    content:'';
    display: block;
    width: 24px;
    height: 24px;
    background-size: cover !important;
    z-index: 9;
    background-repeat: no-repeat;
    margin: 0 auto;
    background:url('{{ 'right-arrow.png' | asset_url }}');
  }
  .multicolumn_with_image .multicolumn .slick_custome_wrapper .slick-arrow.slick-prev:before{
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    transform: rotate(180deg);
    background-size: cover !important;
    z-index: 9;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 5px !important;
    background:url('{{ 'right-arrow.png' | asset_url }}');
  }
  @media(max-width:820px){
/*     .multicolumn_with_image .multicolumn .multicolumn-card {
      top: 50% !important;
      height: auto !important;
    } */
    .multicolumn_with_image .multicolumn .slick_custome_wrapper .slick-arrow.slick-prev:before {
      width: 15px;
      height: 15px;
    }
    .multicolumn_with_image .multicolumn .slick_custome_wrapper .slick-arrow.slick-prev {
      left: 8px;
      width: 30px !important;
      height: 30px !important;
      bottom: 0px;
      top: 125px;
      right: auto;
    }
    .multicolumn_with_image .multicolumn .slick_custome_wrapper .slick-arrow.slick-next {
      right: 8px;
      width: 30px !important;
      height: 30px !important;
      bottom: 0px;
      top: 125px;
    }
    .multicolumn_with_image .multicolumn .slick_custome_wrapper .slick-arrow.slick-next:before{
      width: 15px;
      height: 15px;
    }
    .multicolumn_with_image a.product-popup-link {
      display: flex;
      min-height: 215px;
      padding-top: 0;
      align-items: center;
    }
    .multicolumn_with_image li.slick-slide{
      margin-bottom: 0 !important;
    }
    .spaced-section .banner__text {
      padding: 0 30px;
    }
    .multicolumn_with_image{
      margin: 0 !important;
    }
    .multicolumn_new_section.multicolumn{
      margin: 0 0 10px 0 !important;
    }
    .ingredients-1 li.multicolumn-list__item {
      min-height: 265px;
    }
    .multicolumn-list{
      margin: 0;
    }
    .multicolumn_with_image .title-wrapper-with-link{
      margin: 0;
    }
    .multicolumn .multicolumn-card h3 {
      font-size: 16px !important;
    }
    .multicolumn .multicolumn-card h2 {
      font-size: 16px !important;
    }
  }
  @media(max-width:520px){
    .multicolumn-card__info {
      padding: 1.7rem 0.5rem !important;
    }
    .multicolumn .multicolumn-card h3 {
      font-size: 12px !important;
    }
    .multicolumn .multicolumn-card h2 {
      font-size: 12px !important;
    }
/*     .multicolumn_with_image .multicolumn .multicolumn-card {
      top: 50% !important;
      height: auto !important;
    } */
    .multicolumn_with_image .multicolumn .slick_custome_wrapper .slick-arrow.slick-prev:before {
      width: 15px;
      height: 15px;
    }
    .multicolumn_with_image .multicolumn .slick_custome_wrapper .slick-arrow.slick-prev {
      left: 8px;
      width: 30px !important;
      height: 30px !important;
      bottom: 0px;
      top: 110px;
      right: auto;
    }
    .multicolumn_with_image .multicolumn .slick_custome_wrapper .slick-arrow.slick-next {
      right: 8px;
      width: 30px !important;
      height: 30px !important;
      bottom: 0px;
      top: 110px;
    }
    .multicolumn_with_image .multicolumn .slick_custome_wrapper .slick-arrow.slick-next:before{
      width: 15px;
      height: 15px;
    }
    .multicolumn_with_image a.product-popup-link {
      display: flex;
      min-height: 215px !important;
      padding-top: 0;
      align-items: center;
    }
    .multicolumn_with_image li.slick-slide{
      margin-bottom: 0 !important;
    }
    .spaced-section .banner__text {
      padding: 0 30px;
    }
    .multicolumn_with_image{
      margin: 0 !important;
    }
    .multicolumn_new_section.multicolumn{
      margin-bottom: 0;
    }
    .ingredients-1 li.multicolumn-list__item {
      min-height: auto;
    }
  }
</style>

{% schema %}
{
"name": "Multi Column with Image",
"class": "spaced-section spaced-section--full-width multicolumn_with_image",
"tag": "section",
"settings": [
{
"type": "text",
"id": "title",
"default": "Multicolumn",
"label": "Title"
},
{
"type": "select",
"id": "image_width",
"options": [
{
"value": "third",
"label": "third"
},
{
"value": "half",
"label": "half"
},
{
"value": "full",
"label": "full"
}
],
"default": "full",
"label": "full"
},
{
"type": "select",
"id": "image_ratio",
"options": [
{
"value": "adapt",
"label": "adapt"
},
{
"value": "portrait",
"label": "portrait"
},
{
"value": "square",
"label": "square"
},
{
"value": "circle",
"label": "circle"
}
],
"default": "adapt",
"label": "adapt"
},
{
"type": "select",
"id": "column_alignment",
"options": [
{
"value": "left",
"label": "left"
},
{
"value": "center",
"label": "center"
}
],
"default": "left",
"label": "left"
},
{
"type": "select",
"id": "background_style",
"options": [
{
"value": "none",
"label": "none"
},
{
"value": "primary",
"label": "primary"
},
{
"value": "secondary",
"label": "secondary"
}
],
"default": "primary",
"label": "primary"
},
{
"type": "text",
"id": "button_label",
"default": "Button label",
"label": "Button label"
},
{
"type": "url",
"id": "button_link",
"label": "button link"
},
{
"type": "checkbox",
"id": "swipe_on_mobile",
"default": false,
"label": "swipe on mobile"
}
],
"presets": [
{
"name": "Multi Column with Image"
}
]
}
{% endschema %}
