<style>
    .multi-column-image{background-repeat:no-repeat;max-width:100%;min-height:350px;display:flex;align-items:center;justify-content:center;background-position:bottom;color:#fff;font-size:20px;letter-spacing:1px}
    .multi-column-childs-flex{display:flex;max-width:100%;width:100%;flex-wrap:wrap}
    .main-flex{flex:25% 0 0}
    .modal-mc {
    display: none;
    position: fixed;
    z-index: 5000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}
.hidden.multi-column-childs-flex{display: none;}
.show{display: block;}
    .modal-mc-content{background-color:#fefefe;margin:15% auto;padding: 20px 11px;border:1px solid #888;width:80%;max-width:400px;text-align:center}
    .close{color:#aaa;float:right;font-size:28px;font-weight:700}
    .close:hover{color:#000}
  .Container.multi {
    margin-top: 15px;
}
  .multicolu-mn-parent {
    text-align: center;
}
  .multicolu-mn-parent h2 {
    margin-bottom: 10px;
}
  .ingredient-capsule h2 {
    font-size: 15px;
    color: #fff;
    padding: 0 10px;
}
  .ingredient-capsule {
    margin-top: 39px;
}
    @media(max-width:450px){
        .multi-column-image {background-size: 95%;min-height: 262px;}
        .main-flex {flex: 50% 0 0;}
    }
</style>
{% assign block_count = section.blocks.size %}
<div class="Container multi">
    <div class="multicolu-mn-parent">
      <h2>{{ section.settings.mc_heading }}</h2>
      {% if section.settings.mc_text != blank %}
        <p>{{ section.settings.mc_text }}</p>{% endif %}
        <div class="multi-column-childs-flex">
            {% for block in section.blocks %}
                <div class="main-flex">
                    <div class="multi-column-image open-modal" id="{{ block.id }}" style="background-image:url({{ block.settings.mul_cap | img_url:'400x' }})">
                      <div class="ingredient-capsule">
                        {% if block.settings.mul_cap_heading != blank %}
                      <h2 style="text-transform:uppercase">{{ block.settings.mul_cap_heading }}</h2>{% endif %}
                    {%- if block.settings.ingrediant_content != blank -%}
                    <h2>|<br>from<br>{{ block.settings.ingrediant_content }}</h2>
                    {%- endif -%}
                      </div>
                    
                    </div>
                    <div class="popover-content-block">
                        <div class="modal-mc" id="open-modal">
                            <div class="modal-mc-content">
                                <span class="close">&times;</span>
                                {{ block.settings.ingredient_html }}
                            </div>
                        </div>
                    </div>
                </div>  
                {% endfor %}
        </div>
        {% if section.settings.view_more_checkbox %}
        <div class="vieew">
            view more
        </div>
        <div class="view-more-sim" style="display:none">
            <div class="multi-column-childs-flex">
                {% for block in section.blocks %}
                    <div class="main-flex">
                        <div class="multi-column-image open-modal" id="{{ block.id }}" style="background-image:url({{ block.settings.mul_cap | img_url:'400x' }})">
                        {{- block.settings.mul_cap_heading -}}
                        </div>
                        <div class="popover-content-block">
                            <div class="modal-mc" id="open-modal">
                                <div class="modal-mc-content">
                                    <span class="close">&times;</span>
                                    {{ block.settings.ingredient_html }}
                                </div>
                            </div>
                        </div>
                    </div>  
                    {% endfor %}
            </div>
        </div>
       
        {% endif %}
</div>
<script>
    $(document).ready(function(){
        $('.open-modal').on("click",function(){
            alert('click working');
            $('.modal-mc').addClass('show');
            $('body').css("overflow","hidden");
        });
        $('.close').on("click",function(){
            $('.modal-mc').removeClass('show');
            $('body').css("overflow","visible");
        });
        $(".vieew").click(function(){
            $(".view-more-sim").slideDown(300);
        });
        $(".vieew-less").click(function(){
            $('.view-more-sim').slideUp(300);
        })
    });
</script>

{% schema %}
    {
        "name": "PR Mutlicolumn",
        "settings":[
            {
                "type":"text",
                "id":"mc_heading",
                "label":"Heading",
                "default": "See Through Us!"
            },
          {
            "type":"text",
            "id":"mc_text",
            "label":"decription"
          },
            {
                "type": "checkbox",
                "id": "view_more_checkbox",
                "default": true,
                "label": "Show View More"
            },
            {
                "type": "text",
                "id":"btt_text",
                "label": "Button Label"
            },
            {
                "type": "url",
                "id": "Btt_link",
                "label":"Button URL"
            }
        ],
        "blocks": [
            {
                "name": "Ingredients Box",
                "type":"image",
                "limit": 4,
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "mul_cap",
                        "label": "Select Capsule Image"
                    },
                    {
                        "type": "text",
                        "id": "mul_cap_heading",
                        "label": "Enter Capsule Ingredient Heading",
                        "default": "CUMIN"
                    },
                  {
                    "type":"text",
                    "id":"ingrediant_content",
                    "label":"ENTER INGREDIENT"
                  },
                    {
                        "type": "html",
                        "id": "ingredient_html",
                        "label":"Popup Content"
                    }
                ]
            },
            {
                "name": "Other Ingredients",
                "type": "product",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "mul_cap_hidden",
                        "label": "Select Capsule Image"
                    },
                    {
                        "type": "text",
                        "id": "mul_cap_heading_hidden",
                        "label": "Enter Capsule Ingredient Heading",
                        "default": "CUMIN"
                    },
                    {
                        "type": "html",
                        "id": "ingredient_html_hidden",
                        "label":"Popup Content"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "PR Mutlicolumn",
                "category":"product"
            }
        ]
    }
{% endschema %}