<style>
    .multi-column-image{background-repeat:no-repeat;max-width:100%;min-height:350px;display:flex;align-items:center;width:25%;justify-content:center;background-position:bottom;color:#fff;font-size:20px;letter-spacing:1px}
    .multi-column-childs-flex{display:flex;max-width:100%;width:100%;flex-wrap:wrap}
    .modal-mc {
    display: none;
    position: fixed;
    z-index: 5000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}
.show{display: block;}
    .modal-mc-content{background-color:#fefefe;margin:15% auto;padding: 20px 11px;border:1px solid #888;width:80%;max-width:400px;text-align:center}
    .close{color:#aaa;float:right;font-size:28px;font-weight:700}
    .close:hover{color:#000}
</style>
<div class="Container multi">
    <div class="multicolu-mn-parent">
        <div class="multi-column-childs-flex">
            {% assign i = 0 %}
            {% for block in section.blocks %}
                {%-  assign i = i | plus: 1  -%}
                {% if i <= 4 %}
                <div class="multi-column-image open-modal" id="{{ block.id }}" style="background-image:url({{ block.settings.mul_cap | img_url:'400x' }})">
                    {{- block.settings.mul_cap_heading -}}
                    </div>
                <div class="popover-content-block">
                    <div class="modal-mc" id="open-modal">
                        <div class="modal-mc-content">
                            <span class="close">&times;</span>
                            {{ block.settings.ingredient_html }}
                            </div>
                        </div>
                    </div>    
            {% endif %}
            {% endfor %}
        </div>
        {{ i }}    
    </div>
</div>
<script>
    $(document).ready(function(){
        $('.open-modal').on("click",function(){
            alert('click working');
            $('.modal-mc').addClass('show');
            $('body').css("overflow","hidden");
        });
        $('.close').on("click",function(){
            $('.modal-mc').removeClass('show');
            $('body').css("overflow","visible");
        })
    });
</script>

{% schema %}
    {
        "name": "PR Mutlicolumn",
        "settings":[
            {
                "type":"text",
                "id":"mc_heading",
                "label":"Heading",
                "default": "See Through Us!"
            },
            {
                "type": "checkbox",
                "id": "view_more_checkbox",
                "default": true,
                "label": "Show View More"
            },
            {
                "type": "text",
                "id":"btt_text",
                "label": "Button Label"
            },
            {
                "type": "url",
                "id": "Btt_link",
                "label":"Button URL"
            }
        ],
        "blocks": [
            {
                "name": "Ingredients Box",
                "type":"image",
                "limit": 4,
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "mul_cap",
                        "label": "Select Capsule Image"
                    },
                    {
                        "type": "text",
                        "id": "mul_cap_heading",
                        "label": "Enter Capsule Ingredient Heading",
                        "default": "CUMIN"
                    },
                    {
                        "type": "html",
                        "id": "ingredient_html",
                        "label":"Popup Content"
                    }
                ]
            },
            {
                "name": "Other Ingredients",
                "type": "product",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "mul_cap_hidden",
                        "label": "Select Capsule Image"
                    },
                    {
                        "type": "text",
                        "id": "mul_cap_heading_hidden",
                        "label": "Enter Capsule Ingredient Heading",
                        "default": "CUMIN"
                    },
                    {
                        "type": "html",
                        "id": "ingredient_html_hidden",
                        "label":"Popup Content"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "PR Mutlicolumn",
                "category":"product"
            }
        ]
    }
{% endschema %}