<style>
  .testimonial-heading {
    max-width: 100%;
    display: block;
    position: relative;
    padding-top: 40px;
}
.testimonial-heading h2 {
    font-family: 'Literata';
    color: #3d3d3d;
    font-weight: 500;
    text-align: center;
    font-size: 45px;
}
.testimonial-heading p {
    font-size: 16px;
}
.testimonial-image img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}
.testimonail-content {
    text-align: center;
}
.testimonial-image img {
    margin: 0 auto;
}
@media(max-width:450px)
{
  .testimonial-image img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
}
</style>
<div class="Container">
  <div class="testimonial-heading">
    {% if section.settings.test_heading != blank %}
    <h2>{{ section.settings.test_heading }}</h2>
    {% endif %}
    {% if section.settings.test_para != blank %}
    <p>{{ section.settings.test_para }}</p>
    {% endif %}
  </div>
  <div class="testimonail-section">
   
   <div class="testimonial-inner">
    <div class="testimonail-slider">
      {% for block in section.blocks %}
      <div class="testimonial-child" id="child-{{ block.id }}">
        <div class="testimonial-image">
          {% if block.settings.testimonail-image != blank %}
          <h2><img src="{{ block.settings.testimonail-image | img_url: 'master'}}" loading="lazy" class="test-image" alt="{{block.settings.testimonail-test}}"></h2>
          {% endif %}
        </div>
        <div class="testimonail-content">
          {% if block.settings.testimonial-name != blank %}
          <h3>{{ block.settings.testimonial-name }}</h3>
          {% endif %}
          {% if block.settings.testimonial-text != blank %}
          <p>{{ block.settings.testimonial-text }}</p>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
   </div>
  </div>
</div>
<script>
  $('.testimonail-slider').slick({
  infinite: true,
  slidesToShow: 3,
  slidesToScroll: 3,
  responsive: [
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1
      }
    }
    ]
});
</script>
<script>
  $('.spv-slider').on('init', function(event, slick){
    console.log("initialised")
});
</script>
{% schema %}
  {
    "name": "Reviews and testimonials",
    "settings": [
      {
        "type":"text",
        "id":"test_heading",
        "label":"enter section heading text"
      },
      {
        "type":"text",
        "id":"test_para",
        "label":"enter section text"
      }
    ],
    "blocks":[
      {
        "type":"image",
        "name":"Testimonial Block",
        "settings":[
          
          {
            "type":"image_picker",
            "id":"testimonail-image",
            "label":"Select testimonial image"
          },
          {
            "type":"text",
            "id":"testimonial-name",
            "label":"Enter Testimonail Name"
          },
          {
            "type":"text",
            "id":"testimonial-text",
            "label":"Enter testimonial text"
          }
        ]
      }
    ],
    "presets":[
      {
        "category":"homepage",
        "name":"Reviews and testimonials"
      }
    ]
    
  }
{% endschema %}